body{
  font-family: cursive;
  font-size: 11px;
  background-color: #fff;
}

.relative{
  position: relative;
  width: 300px;
  border-radius: 5px;
  margin-left: 200px;
}

.footer{
  position: absolute;
  bottom: 5px;
  left: -5px;
  width: 155px;
  height: 20px;
  background-color: black;
  color: white;
}

h1{
  font-size: 15px;
  color: #2a2a31;
  text-align: center;
  padding: 15px;
}

h1 span{
  border: 4px dashed #2a2a31;
  border-radius: 10%;
  padding: 10px;
}

.card{
width: 410px;
height: 315px;
padding-top: 3px;
padding-bottom: 6px;
padding-left: 2px;
padding-right: 2px;
float: right;
margin-right: 380px;
background-color: rgba(0,0,0,0.2);
}

.relative, .card{
  display: inline-block;
}
.block{
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
  width: 370px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

p#copyright{
  font-size: 8px;
}
